<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TagMapConfigurationSection"  type="com.acs.custom.config.TagMapConfigurationSection, SimOnlineConsole" />
  </configSections>

  <appSettings>
    <add key="CaseFilePath" value="D:\Projects\FMACS\SimOnline\SimOnlineConsole\flowsheet.json"/>
  </appSettings>

  <TagMapConfigurationSection>
    <TagConfigurations>
      <TagConfiguration tagname="FIX.INV_FREQ_2011.F_CV"   />
      <TagConfiguration tagname="FIX.AC201_LA_TCHW_S.F_CV"  />
      <TagConfiguration tagname="FIX.CV2011.F_CV"  />
      <TagConfiguration tagname="FIX.OAH_2021.F_CV"  />
      <TagConfiguration tagname="FIX.OAT_2021.F_CV"  />
    </TagConfigurations>

   <!-- <InputBlockMaps>
      <InputBlockMap tagname="FIX.INV_FREQ_2011.F_CV"  blockvariablename="am1.Motor_frequency" />
      <InputBlockMap tagname="FIX.CV2011.F_CV"  blockvariablename="am2.Cooling_coil_percent" />
      <InputBlockMap tagname="FIX.INV_FREQ_2011.F_CV"  blockvariablename="am3.Motor_frequency" />
      <InputBlockMap tagname="FIX.AC201_LA_TCHW_S.F_CV"  blockvariablename="am2.Water_temp_in" />
    </InputBlockMaps>-->

	<InputBlockMaps>
      <InputBlockMap blockvariablename="am1.Motor_frequency" tagname="FIX.INV_FREQ_2011.F_CV"/>
      <InputBlockMap blockvariablename="am2.Cooling_coil_percent" tagname="FIX.CV2011.F_CV"/>
      <InputBlockMap blockvariablename="am3.Motor_frequency" tagname="FIX.INV_FREQ_2011.F_CV"/>
      <InputBlockMap blockvariablename="am2.Water_temp_in" tagname="FIX.AC201_LA_TCHW_S.F_CV"/>
    </InputBlockMaps>
	
    <InputStreamMaps>
      <InputStreamMap streamname="OA"  tagname1="FIX.OAT_2021.F_CV" property1="OA.Pt" tagname2="FIX.OAH_2021.F_CV" property2="OA.Rhp" balancemethod="" />
    </InputStreamMaps>

    <OutputBlockMaps>
      <OutputBlockMap blockvariablename="am2.Ta[0]"  tagname="FIX.TA0.F_CV" />
      <OutputBlockMap blockvariablename="am2.Ta[1]"  tagname="FIX.TA1.F_CV" />
      <OutputBlockMap blockvariablename="am2.Ta[2]"  tagname="FIX.TA2.F_CV" />
      <OutputBlockMap blockvariablename="am2.Ta[3]"  tagname="FIX.TA3.F_CV" />
      <OutputBlockMap blockvariablename="am2.Ta[4]"  tagname="FIX.TA4.F_CV" />
      <OutputBlockMap blockvariablename="am2.Ta[5]"  tagname="FIX.TA5.F_CV" />
      <OutputBlockMap blockvariablename="am2.Ta[6]"  tagname="FIX.TA6.F_CV" />
      <OutputBlockMap blockvariablename="am2.Ta[7]"  tagname="FIX.TA7.F_CV" />
      <OutputBlockMap blockvariablename="am2.Ta[8]"  tagname="FIX.TA8.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[0]"  tagname="FIX.WA0.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[1]"  tagname="FIX.WA1.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[2]"  tagname="FIX.WA2.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[3]"  tagname="FIX.WA3.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[4]"  tagname="FIX.WA4.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[5]"  tagname="FIX.WA5.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[6]"  tagname="FIX.WA6.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[7]"  tagname="FIX.WA7.F_CV" />
      <OutputBlockMap blockvariablename="am2.Wa[8]"  tagname="FIX.WA8.F_CV" />
    </OutputBlockMaps>

    <OutputStreamMaps>
      <OutputStreamMap property="HMLA.Pt"  tagname="FIX.SA_DBT.F_CV" />
      <OutputStreamMap property="HMLA.W"  tagname="FIX.SA_AH.F_CV" />
    </OutputStreamMaps>

  </TagMapConfigurationSection>

</configuration>
